<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-chche">
    <meta http-equiv="build" content="2023, 03, 29">
    <meta http-equiv="Copyright" content="c17team03_seo_dong_min">
    <meta http-equiv="Distribution" content="SEO_DONG_MIN">
    <meta http-equiv="Filename" content="admin.pug">
    <meta name="robots" content="noindex, nofollow, noarchive">
    <link rel="stylesheet" href="./css/adminAccess.css">
    <script src="https://unpkg.com/adorable-css" defer></script>
    <title>관리자 페이지</title>
  </head>
  <body class="bg(white)">
    <main class="w(100%) h(100%)">
      <h1>주문내역</h1>
      <nav class="w(100%) h(10%) bg(black)">
        <form class="box-sizing h(100%) p(20) display(flex) justify-content(center)" method="post" action="/adminAccess">
          <input class="mr(10)" type="date" name="selectDateStart">
          <input class="mr(10)" type="date" name="selectDateEnd">
          <input type="submit" value="전송">
        </form>
      </nav>
      <output class="printSection pb(300)">
        <ul>
          <li class="border-box">0</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">1</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">2</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">3</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">4</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">5</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">6</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">7</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">8</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">9</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">10</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">11</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">12</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">13</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">14</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">15</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">16</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">17</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">18</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">19</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">20</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">21</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">22</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">23</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">24</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">25</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">26</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">27</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">28</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <ul>
          <li class="border-box">29</li>
          <li class="border-box">호르몬 그릴 정식, 치킨 그릴 정식, 규카츠 정식</li>
          <li class="border-box">010-9500-9987</li>
          <li class="border-box">2022-12-25 12:50:50</li>
        </ul>
        <!--each value in result-->
        <!--  ul-->
        <!--    li #{ value.orderNumber }-->
        <!--    li #{ value.orderHistory }-->
        <!--    li #{ value.membershipNumber }-->
        <!--    li #{ value.orderDateInfo } #{ value.orderTimeInfo }-->
      </output>
    </main>
  </body>
</html>