@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #333;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar {
  display: none;
}

.hoverEffect:hover {
  cursor: pointer;
}

.pointFont {
  font-family: "KCC-Ganpan" !important;
}

.totalWrapBox {
  width: 108rem;
  height: 192rem;
  background-image: url("../img/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  position: relative;
  transition: all linear 0.3s;
  display: block;
}

.headerBox {
  width: 108rem;
  height: 35rem;
  background: transparent;
  position: relative;
  overflow: hidden;
}
.headerBox .topFlowerImage,
.headerBox .ddjMark,
.headerBox .ddjCenterMark,
.headerBox .sideFlowerImage {
  position: absolute;
  background-size: cover;
  background-position: center;
}
.headerBox .topFlowerImage {
  width: 85rem;
  height: 18rem;
  background-image: url("../img/topFlowerImage.png");
}
.headerBox .ddjMark {
  width: 14rem;
  height: 12rem;
  top: 4rem;
  left: 4rem;
  background-image: url("../img/ddjMark.png");
}
.headerBox .ddjCenterMark {
  width: 31rem;
  height: 12rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/ddjCenterMark.png");
}
.headerBox .sideFlowerImage {
  width: 46rem;
  height: 26rem;
  left: 62%;
  top: 20%;
  transform: scaleX(-1);
  background-image: url("../img/sideFlowerImage.png");
}

.sideMenu {
  width: 19rem;
  height: 118rem;
  margin: 0 1rem;
  float: left;
}
.sideMenu .sideMenuTop {
  font-weight: bold;
  text-align: center;
  width: 19rem;
  height: 9rem;
  margin-top: -9rem;
  background-color: #f088a6;
  color: #fff;
  line-height: 10rem;
  font-size: 4rem;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}
.sideMenu .sideMenuMainWrap {
  width: 19rem;
  height: 119rem;
  background-color: #ffdcdc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.sideMenu .sideMenuMainWrap .maindishTab,
.sideMenu .sideMenuMainWrap .noodleTab,
.sideMenu .sideMenuMainWrap .singleMenuTab,
.sideMenu .sideMenuMainWrap .sodaTab,
.sideMenu .sideMenuMainWrap .alcoholTab {
  width: 15rem;
  height: 20rem;
  transform: scale(1);
  transition: transform 0.6s;
}
.sideMenu .sideMenuMainWrap .maindishTab .maindishImage,
.sideMenu .sideMenuMainWrap .maindishTab .noodleImage,
.sideMenu .sideMenuMainWrap .maindishTab .singleImage,
.sideMenu .sideMenuMainWrap .maindishTab .sodaImage,
.sideMenu .sideMenuMainWrap .maindishTab .alcoholImage,
.sideMenu .sideMenuMainWrap .noodleTab .maindishImage,
.sideMenu .sideMenuMainWrap .noodleTab .noodleImage,
.sideMenu .sideMenuMainWrap .noodleTab .singleImage,
.sideMenu .sideMenuMainWrap .noodleTab .sodaImage,
.sideMenu .sideMenuMainWrap .noodleTab .alcoholImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .maindishImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .noodleImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .singleImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .sodaImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .alcoholImage,
.sideMenu .sideMenuMainWrap .sodaTab .maindishImage,
.sideMenu .sideMenuMainWrap .sodaTab .noodleImage,
.sideMenu .sideMenuMainWrap .sodaTab .singleImage,
.sideMenu .sideMenuMainWrap .sodaTab .sodaImage,
.sideMenu .sideMenuMainWrap .sodaTab .alcoholImage,
.sideMenu .sideMenuMainWrap .alcoholTab .maindishImage,
.sideMenu .sideMenuMainWrap .alcoholTab .noodleImage,
.sideMenu .sideMenuMainWrap .alcoholTab .singleImage,
.sideMenu .sideMenuMainWrap .alcoholTab .sodaImage,
.sideMenu .sideMenuMainWrap .alcoholTab .alcoholImage {
  width: 15rem;
  height: 14rem;
  background-size: cover;
  background-position: center;
}
.sideMenu .sideMenuMainWrap .maindishTab .maindishImage,
.sideMenu .sideMenuMainWrap .noodleTab .maindishImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .maindishImage,
.sideMenu .sideMenuMainWrap .sodaTab .maindishImage,
.sideMenu .sideMenuMainWrap .alcoholTab .maindishImage {
  background-image: url("../img/maindish.png");
}
.sideMenu .sideMenuMainWrap .maindishTab .noodleImage,
.sideMenu .sideMenuMainWrap .noodleTab .noodleImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .noodleImage,
.sideMenu .sideMenuMainWrap .sodaTab .noodleImage,
.sideMenu .sideMenuMainWrap .alcoholTab .noodleImage {
  background-image: url("../img/noodle.png");
}
.sideMenu .sideMenuMainWrap .maindishTab .singleImage,
.sideMenu .sideMenuMainWrap .noodleTab .singleImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .singleImage,
.sideMenu .sideMenuMainWrap .sodaTab .singleImage,
.sideMenu .sideMenuMainWrap .alcoholTab .singleImage {
  background-image: url("../img/single.png");
}
.sideMenu .sideMenuMainWrap .maindishTab .sodaImage,
.sideMenu .sideMenuMainWrap .noodleTab .sodaImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .sodaImage,
.sideMenu .sideMenuMainWrap .sodaTab .sodaImage,
.sideMenu .sideMenuMainWrap .alcoholTab .sodaImage {
  background-image: url("../img/soda.png");
}
.sideMenu .sideMenuMainWrap .maindishTab .alcoholImage,
.sideMenu .sideMenuMainWrap .noodleTab .alcoholImage,
.sideMenu .sideMenuMainWrap .singleMenuTab .alcoholImage,
.sideMenu .sideMenuMainWrap .sodaTab .alcoholImage,
.sideMenu .sideMenuMainWrap .alcoholTab .alcoholImage {
  background-image: url("../img/alcohol.png");
}
.sideMenu .sideMenuMainWrap .maindishTab .sideTabName,
.sideMenu .sideMenuMainWrap .noodleTab .sideTabName,
.sideMenu .sideMenuMainWrap .singleMenuTab .sideTabName,
.sideMenu .sideMenuMainWrap .sodaTab .sideTabName,
.sideMenu .sideMenuMainWrap .alcoholTab .sideTabName {
  width: 15rem;
  height: 6rem;
  font-size: 3rem;
  line-height: 6rem;
  font-weight: bold;
  text-align: center;
}

.sideMenu:after {
  clear: both;
}

.mainMenuSection {
  width: 86rem;
  height: 119rem;
  background-color: #fffbf3;
  float: left;
  border-radius: 3rem;
  overflow: visible;
}
.mainMenuSection .mainMenuWrap {
  width: 86rem;
  height: 109rem;
  overflow: auto;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
}
.mainMenuSection .mainMenuWrap .selectFoodBox {
  width: 43rem;
  height: 36rem;
  padding: 4rem 4rem 3rem 4rem;
}
.mainMenuSection .mainMenuWrap .selectFoodBox .foodImage {
  width: 35rem;
  height: 21rem;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mainMenuSection .mainMenuWrap .selectFoodBox .foodImage .foodTop {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 3rem;
  background-image: url("../img/bestIcon.png");
  background-position: center;
  background-size: cover;
}
.mainMenuSection .mainMenuWrap .selectFoodBox .foodImage .foodSpicy {
  width: 5rem;
  height: 5rem;
  top: 17rem;
  left: 26rem;
  position: absolute;
  background-image: url("../img/spicyIcon.png");
  background-position: center;
  background-size: cover;
}
.mainMenuSection .mainMenuWrap .selectFoodBox .foodName,
.mainMenuSection .mainMenuWrap .selectFoodBox .foodPrice {
  font-weight: bold;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  font-size: 2.5rem;
}
.mainMenuSection .mainMenuWrapOn {
  display: flex;
}
.mainMenuSection .mainMenuNav {
  width: 86rem;
  height: 10rem;
}
.mainMenuSection .mainMenuNav .mainMenuLeftBt,
.mainMenuSection .mainMenuNav .mainMenuRightBt {
  font-weight: bold;
  text-align: center;
  width: 20rem;
  height: 10rem;
  background: #e2b9b7;
  float: left;
  line-height: 10rem;
  font-size: 5rem;
  border-radius: 3rem;
  border: 0;
}
.mainMenuSection .mainMenuNav .mainMenuLeftBt:active,
.mainMenuSection .mainMenuNav .mainMenuRightBt:active {
  color: #fff;
  background: #e5c8c6;
  transition: all linear 0.2s;
}
.mainMenuSection .mainMenuNav .mainMenuPositionBar {
  width: 46rem;
  height: 10rem;
  line-height: 10rem;
  float: left;
  text-align: center;
}
.mainMenuSection .mainMenuNav .mainMenuPositionBar .mainMenuPositionCircle,
.mainMenuSection .mainMenuNav .mainMenuPositionBar .mainMenuPositionCircleOn {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #333;
  margin: 0 1rem;
}
.mainMenuSection .mainMenuNav .mainMenuPositionBar .mainMenuPositionCircleOn {
  background-color: #333;
}
.mainMenuSection .maindishSection:after {
  clear: both;
}

.priceCalculateWrap {
  width: 106rem;
  height: 36rem;
  float: left;
  margin: 1rem;
}
.priceCalculateWrap .calculateTop {
  width: 106rem;
  height: 8rem;
  background-color: #d4e0ee;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
.priceCalculateWrap .calculateTop .totalSelectTitle,
.priceCalculateWrap .calculateTop .totalPrice,
.priceCalculateWrap .calculateTop .totalPriceResult {
  width: 15rem;
  height: 8rem;
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 8rem;
  font-size: 3rem;
  float: left;
}
.priceCalculateWrap .calculateTop .totalPrice {
  float: right;
}
.priceCalculateWrap .calculateTop .totalPriceResult {
  width: 25rem;
  float: right;
  text-align: right;
  padding-right: 3rem;
}
.priceCalculateWrap .calculateMiddle {
  width: 106rem;
  height: 20rem;
  background-color: #fffbf3;
  padding: 1rem;
  overflow: auto;
}
.priceCalculateWrap .calculateMiddle ul li {
  list-style: none;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuNum,
.priceCalculateWrap .calculateMiddle ul li .orderMenuName,
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus,
.priceCalculateWrap .calculateMiddle ul li .orderMenuPrice,
.priceCalculateWrap .calculateMiddle ul li .orderMenuDelete {
  display: inline-block;
  height: 6rem;
  line-height: 6rem;
  font-size: 3rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuNum {
  width: 5rem;
  margin-right: 2rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuName {
  width: 30rem;
  margin-right: 4rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus {
  width: 20rem;
  margin-right: 6rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .mainMenuMinusBt,
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .mainMenuPlusBt,
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .countValueBox {
  display: inline-block;
  font-size: 2rem;
  margin: 0 1rem;
  line-height: 1rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .countValueBox {
  font-weight: bold;
  text-align: center;
  width: 4rem;
  font-size: 3rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .mainMenuMinusBt,
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .mainMenuPlusBt {
  width: 4rem;
  height: 4rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  background-color: pink;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .mainMenuMinusBt:hover,
.priceCalculateWrap .calculateMiddle ul li .orderMenuPlusOrMinus .mainMenuPlusBt:hover {
  transition: all linear 0.3s;
  background-color: #ca979f;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuPrice {
  width: 15rem;
  margin-right: 6rem;
  font-weight: bold;
  text-align: right;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuDelete {
  font-weight: bold;
  text-align: center;
  width: 7rem;
  height: 5rem;
  line-height: 4rem;
  background-color: #fffbf3;
  border: 0.5rem solid pink;
  border-radius: 1rem;
}
.priceCalculateWrap .calculateMiddle ul li .orderMenuDelete:hover {
  transition: all linear 0.3s;
  background-color: #e3cdcd;
}
.priceCalculateWrap .calculateBottom {
  width: 106rem;
  height: 8rem;
  background-color: #d4e0ee;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.priceCalculateWrap .calculateBottom .resetBt,
.priceCalculateWrap .calculateBottom .orderBt {
  width: 33rem;
  height: 8rem;
  line-height: 8rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
}
.priceCalculateWrap .calculateBottom .resetBt:active,
.priceCalculateWrap .calculateBottom .orderBt:active {
  transition: all linear 0.2s;
  color: #fff;
}

.modalOnBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(3, 3, 3, 0.7);
  z-index: 1;
}

.selectPage {
  width: 90rem;
  height: 120rem;
  background-color: #ffdcdc;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 4rem;
  border-radius: 3rem;
}
.selectPage .selectPageTop {
  width: 82rem;
  height: 46rem;
  padding: 3rem;
  border-radius: 3rem;
  background-color: #fffbf3;
}
.selectPage .selectPageTop .selectPageMark {
  width: 20rem;
  height: 9rem;
  transform: translate(-15%, -35%);
  position: absolute;
  background-image: url("../img/ddjCenterMark.png");
  background-size: cover;
  background-position: center;
}
.selectPage .selectPageTop .selectMenuImageBox {
  width: 42rem;
  height: 33rem;
  margin: 7rem 1rem 0 1rem;
  float: left;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.selectPage .selectPageTop .selectNamePriceBox {
  width: 32rem;
  height: 40rem;
  float: right;
}
.selectPage .selectPageTop .selectNamePriceBox .selectMenuName,
.selectPage .selectPageTop .selectNamePriceBox .selectMenuPrice {
  width: 32rem;
  height: 8rem;
  display: inline-block;
  line-height: 6rem;
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 13rem;
  font-weight: bold;
  text-align: center;
}
.selectPage .selectPageTop .selectNamePriceBox .selectMenuPrice {
  margin-top: 2rem;
}
.selectPage .selectPageTop .selectNamePriceBox .selectMenuNameTitle {
  margin-top: 10rem;
}
.selectPage .selectPageTop .selectNamePriceBox .selectMenuNameTitle,
.selectPage .selectPageTop .selectNamePriceBox .selectMenuPriceTitle {
  width: 13rem;
  font-size: 2.5rem;
}
.selectPage .selectPageTop .selectNamePriceBox .selectMenuPrice:after {
  content: " 원";
}
.selectPage .selectPageMiddle {
  width: 82rem;
  height: 46rem;
  padding: 3rem 6rem;
  background-color: #fffbf3;
  margin: 3rem 0 4rem 0;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*.selectMenuAllergyInfoBox:after {
    content: " 함유";
    font-size: 3rem;
    margin-left: 0rem;
    font-weight: bold;
  }*/
}
.selectPage .selectPageMiddle .selectMenuDescBox,
.selectPage .selectPageMiddle .selectMenuFoodInfoBox,
.selectPage .selectPageMiddle .selectMenuAllergyInfoBox {
  width: 70rem;
  height: 6rem;
  font-weight: bold;
  line-height: 6rem;
  font-size: 3rem;
}
.selectPage .selectPageMiddle .selectMenuDescBox:before {
  margin-right: 3rem;
  float: left;
  content: "메뉴 설명 : ";
  font-size: 3rem;
  font-weight: 100;
}
.selectPage .selectPageMiddle .selectMenuFoodInfoBox:before {
  margin-right: 3rem;
  float: left;
  font-size: 3rem;
  content: "메뉴 원재료 : ";
  font-weight: 100;
}
.selectPage .selectPageMiddle .selectMenuAllergyInfoBox:before {
  margin-right: 3rem;
  float: left;
  content: "알레르기 유발 주의 : ";
  font-size: 3rem;
  font-weight: 100;
}
.selectPage .selectPageBottom {
  width: 82rem;
  height: 13rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selectPage .selectPageBottom .cansleBt,
.selectPage .selectPageBottom .acceptBt {
  width: 35rem;
  height: 13rem;
  line-height: 13rem;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  border-radius: 3rem;
  background-color: #fffbf3;
}
.selectPage .selectPageBottom .cansleBt:hover,
.selectPage .selectPageBottom .acceptBt:hover {
  transition: all linear 0.3s;
  background-color: #e3cdcd;
}

.mainModal {
  width: 80rem;
  height: 50rem;
  background: #ffdcdc;
  display: none;
  position: absolute;
  border-radius: 3rem;
  top: 50%;
  left: 50%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.mainModal .mainModalText {
  width: 70rem;
  height: 25rem;
  margin-top: 5rem;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
  background: #fffbf3;
  position: absolute;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  line-height: 25rem;
}
.mainModal .mainModalCloseBt {
  width: 15rem;
  height: 6rem;
  font-weight: bold;
  text-align: center;
  line-height: 6rem;
  font-size: 3rem;
  background: #fffbf3;
  border-radius: 2rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
}
.mainModal .mainModalCloseBt:hover {
  transition: 0.4s all linear;
  background: #e2b9b7;
}

.fontBold {
  font-weight: bold;
}

a {
  text-decoration: none;
  outline: none;
  color: #333;
}

.allBox {
  width: 108rem;
  height: 192rem;
  display: none;
  margin: auto;
  background-color: #fffbf3;
  position: relative;
}

.paymentHeader {
  width: 108rem;
  height: 27.8rem;
  padding: 5.1rem 31.7rem 5.1rem 7rem;
  background-color: #ffdcdc;
}
.paymentHeader section {
  width: 68.9rem;
  height: 17.6rem;
  display: flex;
  flex-direction: row;
}
.paymentHeader section .titleLeft {
  width: 24.6rem;
  height: 17.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.paymentHeader section .titleLeft a i {
  font-size: 8rem;
}
.paymentHeader section .titleLeft a span {
  font-size: 5rem;
}
.paymentHeader section .titleRight {
  width: 44.3rem;
  height: 17.8rem;
  padding-left: 8rem;
  padding-top: 3rem;
}
.paymentHeader section .titleRight img {
  width: auto;
  height: 13rem;
}

.paymentMain {
  width: 108rem;
  height: 119rem;
  display: flex;
  flex-direction: column;
}
.paymentMain hr {
  color: #666;
  width: 98rem;
  margin-left: 5rem;
}

.menuBox {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 4rem;
}

.menuMiniBox {
  font-weight: bold;
}

.menuMiniBox:first-child,
.menuNum {
  height: 10rem;
  float: left;
  text-align: center;
  font-size: 3rem;
  width: 11rem;
}

.menuMiniBox:nth-child(2),
.menuName {
  height: 10rem;
  float: left;
  text-align: center;
  font-size: 3rem;
  width: 36.4rem;
}

.menuMiniBox:nth-child(3),
.menuCountBox {
  height: 10rem;
  float: left;
  text-align: center;
  font-size: 3rem;
  width: 17.5rem;
}

.menuMiniBox:nth-child(4),
.menuAmount {
  height: 10rem;
  float: left;
  text-align: center;
  font-size: 3rem;
  width: 23.4rem;
  text-align: right;
  padding-right: 7rem;
}

.menuMiniBox:nth-child(5),
.menuDelete {
  height: 10rem;
  float: left;
  text-align: center;
  font-size: 3rem;
  width: 8rem;
}

.menuCountBox button {
  width: 5rem;
  height: 5rem;
  float: left;
  font-size: 3rem;
  border: transparent;
  background-color: pink;
  cursor: pointer;
  border-radius: 0.6rem;
}
.menuCountBox button:hover {
  background-color: #dea7b0;
  transition: all 0.3s;
}
.menuCountBox div {
  width: 7.5rem;
  height: 5rem;
  float: left;
  font-size: 3rem;
}

.menuOrderList {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 108rem;
  height: 69.533rem;
  overflow: auto;
  list-style: none;
}
.menuOrderList li {
  line-height: 5rem;
}

.menuDelete {
  height: 5rem;
  border: 0.5rem solid pink;
  background-color: #fff;
  border-radius: 0.6rem;
  cursor: pointer;
  line-height: 4.5rem;
}
.menuDelete:hover {
  background-color: #e3cdcd;
  transition: all 0.3s;
}

.titleOne {
  width: 108rem;
  height: 26.2rem;
  font-size: 4.5rem;
  text-align: center;
  padding-top: 8rem;
  font-weight: bold;
  line-height: 7rem;
}

.titleTwo {
  width: 108rem;
  height: 9rem;
  padding-left: 5rem;
  font-size: 4rem;
  font-weight: bold;
}

.paymentFooter {
  width: 108rem;
  height: 45.4rem;
  background-color: pink;
}

.footerTop {
  width: 108rem;
  height: 29.1rem;
  padding: 7.05rem 15rem 7.05rem 45rem;
  background-color: #ffdcdc;
}

.allOrder {
  height: 7.5rem;
  float: left;
  font-size: 3.7rem;
  line-height: 7.5rem;
}

.allOrderCounter {
  width: 20rem;
  text-align: right;
  height: 7.5rem;
  float: left;
  font-size: 3.7rem;
  line-height: 7.5rem;
}

.allOrderResult {
  width: 8rem;
  text-align: right;
  height: 7.5rem;
  float: left;
  font-size: 3.7rem;
  line-height: 7.5rem;
}

.footerBottom {
  width: 108rem;
  height: 16.3rem;
  background-color: #ffdcdc;
}

.footerBtnBox {
  padding-left: 50rem;
}

.footerBtn {
  width: 19.6rem;
  height: 9rem;
  font-size: 3.7rem;
  font-weight: bold;
  margin-left: 5rem;
  border: transparent;
  line-height: 9rem;
  text-align: center;
  float: left;
  background-color: ivory;
  cursor: pointer;
  border-radius: 0.6rem;
}
.footerBtn:hover {
  background-color: #ddddd1;
  transition: all 0.3s;
}

.modalBg {
  width: 108rem;
  height: 192rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

.phoneNumberBox {
  width: 80rem;
  height: 100rem;
  background-color: #e6e4e4;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  border-radius: 3rem;
}
.phoneNumberBox p {
  width: 80rem;
  height: 15.6rem;
  font-size: 3.1rem;
  text-align: center;
  padding-top: 12rem;
}

.phoneNumberInput {
  width: 80rem;
}
.phoneNumberInput input {
  width: 51.5rem;
  height: 7.7rem;
  margin-top: 4.5rem;
  background-color: #fff;
  margin-left: 14.25rem;
  margin-bottom: 4.4rem;
  border: transparent;
  cursor: pointer;
  font-size: 4rem;
  text-align: center;
}

.keyPadBox {
  width: 32.5rem;
  height: 44rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.keyPadBox .numberPad {
  width: 9rem;
  height: 9rem;
  background-color: #fff;
  line-height: 9rem;
  text-align: center;
  font-weight: bold;
  border: transparent;
  cursor: pointer;
  font-size: 4.3rem;
  border-radius: 1rem;
}
.keyPadBox .numberPad:hover {
  background-color: #c0bebe;
  transition: all 0.3s;
}
.keyPadBox .textPad {
  width: 9rem;
  height: 9rem;
  background-color: #fff;
  line-height: 9rem;
  text-align: center;
  font-weight: bold;
  border: transparent;
  cursor: pointer;
  font-size: 2.8rem;
  border-radius: 1rem;
}
.keyPadBox .textPad:hover {
  background-color: #c0bebe;
  transition: all 0.3s;
}

.modalButtonBox {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  padding-left: 30rem;
}

.phoneNumberBtn {
  width: 16.9rem;
  height: 6.2rem;
  background-color: #fff;
  border: transparent;
  font-weight: bold;
  margin-left: 4rem;
  font-size: 3.4rem;
  border-radius: 0.9rem;
  cursor: pointer;
}
.phoneNumberBtn:hover {
  background-color: #c0bebe;
  transition: all 0.3s;
}

.usePointBox {
  width: 80rem;
  height: 100rem;
  background-color: #e6e4e4;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  border-radius: 3rem;
}
.usePointBox .pay {
  width: 80rem;
  height: 12.6rem;
  font-size: 5rem;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
  font-weight: bold;
}

.paymentBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 47.7rem;
  height: 8rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.paymentBox .resultTextMenu {
  width: 14rem;
  height: 4rem;
  font-size: 2.8rem;
  font-weight: bold;
}
.paymentBox .resultNumberMenu {
  width: 30rem;
  height: 4rem;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: right;
  padding-right: 3rem;
}
.paymentBox .price {
  width: 3.7rem;
  height: 4rem;
  font-size: 2.8rem;
  font-weight: bold;
}

.keyPadArea {
  width: 32.9rem;
  height: 45.8rem;
  margin: 3rem 23.35rem 3rem 23.35rem;
}
.keyPadArea p {
  width: 15.2rem;
  height: 3.2rem;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
}

.inputPhoneNumber {
  display: flex;
  flex-direction: row;
  width: 33.9rem;
  margin-top: 3rem;
}

.minusPointDiv {
  width: 4.3rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 5rem;
}

.numberInputBox {
  width: 25.4rem;
  height: 5rem;
  font-size: 1.8rem;
  text-align: center;
  border: transparent;
}

.keyPadBox2 {
  width: 33.9rem;
  height: 32.7rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 3rem;
}
.keyPadBox2 .numberPad2 {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  line-height: 7rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: transparent;
  font-size: 3rem;
  border-radius: 1rem;
}
.keyPadBox2 .numberPad2:hover {
  background-color: #c0bebe;
  transition: all 0.3s;
}
.keyPadBox2 .textPad2 {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  line-height: 7rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: transparent;
  font-size: 2rem;
  border-radius: 1rem;
}
.keyPadBox2 .textPad2:hover {
  background-color: #c0bebe;
  transition: all 0.3s;
}

.totalResult {
  width: 48.9rem;
  height: 8.2rem;
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
}
.totalResult div:first-child {
  width: 15.7rem;
  height: 8.2rem;
  line-height: 8.2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.totalResult div:nth-child(2) {
  width: 30.5rem;
  height: 8.2rem;
  text-align: right;
  line-height: 8.2rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 3rem;
}
.totalResult div:nth-child(3) {
  width: 2.7rem;
  height: 8.2rem;
  line-height: 8.2rem;
  font-size: 2.5rem;
}

.totalResultBtnBox {
  display: flex;
  flex-direction: row;
  margin-left: 34rem;
}
.totalResultBtnBox button {
  width: 16.9rem;
  height: 5.7rem;
  background-color: #fff;
  border: transparent;
  font-weight: bold;
  margin-right: 5rem;
  border-radius: 1rem;
  font-size: 3rem;
  cursor: pointer;
}
.totalResultBtnBox button:hover {
  background-color: #c0bebe;
  transition: all 0.3s;
}

.cardModalBox {
  width: 80rem;
  height: 48.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  border-radius: 2rem;
}
.cardModalBox img {
  padding-top: 10rem;
  width: 19.5rem;
  height: auto;
  margin-left: 30.25rem;
}
.cardModalBox div {
  font-size: 2.1rem;
  text-align: center;
  font-weight: bold;
  padding-top: 3rem;
  line-height: 3.5rem;
}
.cardModalBox button {
  width: 9.2rem;
  height: 4.4rem;
  background-color: lightgray;
  font-weight: bold;
  margin-top: 5rem;
  margin-left: 63rem;
  border: transparent;
  color: #333;
  border-radius: 0.7rem;
  font-size: 2.2rem;
  cursor: pointer;
}
.cardModalBox button:hover {
  background-color: #b9b8b8;
  transition: all 0.3s;
}

.paymentModal {
  width: 80rem;
  height: 48.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 2rem;
}
.paymentModal i {
  font-size: 15rem;
  margin-top: 10.5rem;
  color: #2560d6;
  margin-left: 32.5rem;
}
.paymentModal div {
  font-size: 2.2rem;
  line-height: 4.2rem;
  font-weight: bold;
  padding-top: 5rem;
  text-align: center;
}
.paymentModal div span {
  font-size: 2.7rem;
}

.completeModal {
  width: 80rem;
  height: 48.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.completeModal i {
  font-size: 8rem;
  color: lightgray;
  padding-top: 10rem;
  margin-left: 36rem;
}
.completeModal .smallFont {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 25rem;
}
.completeModal .bigFont {
  float: left;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 5rem;
}
.completeModal .bigFontFront {
  padding-left: 20rem;
  color: #f0857f;
}
.completeModal .completeModalBtn {
  width: 9.2rem;
  height: 4.4rem;
  background-color: lightgray;
  font-weight: bold;
  border: transparent;
  color: black;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.completeModal .completeModalBtn:hover {
  background-color: #b1b1b1;
  transition: all 0.3s;
}

.completeModalBtnBox {
  padding-top: 15rem;
  padding-left: 50rem;
}
.completeModalBtnBox form {
  float: left;
  width: 9.2rem;
  height: 4.4rem;
  margin-right: 3rem;
}

.alertModalBg {
  width: 108rem;
  height: 192rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 3;
}
.alertModalBg .alertModal {
  width: 80rem;
  height: 48.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.alertModalBg .alertModal .alertModalContent {
  width: 100%;
  height: 25.6rem;
  line-height: 25.6rem;
  margin-top: 10rem;
  text-align: center;
  font-size: 3.8rem;
  font-weight: bold;
}
.alertModalBg .alertModal .alertModalBtn {
  width: 15rem;
  height: 6rem;
  font-size: 3rem;
  font-weight: bold;
  border: transparent;
  border-radius: 1rem;
  background-color: lightgray;
  cursor: pointer;
}
.alertModalBg .alertModal .alertModalBtn:hover {
  background-color: #bbbaba;
}

.submitButton {
  display: none;
}

.moveToIndexBt {
  display: none;
}

.displayNone {
  display: none;
}